@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: #262534;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: #262534;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-start-rgb);
  display: flex;
  flex-direction: column;
}

.invitation_background {
  background-image: url('/images/background/wed-img.jpg');
  background-position: center;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

@media screen and (max-width: 1024px) {
  .invitation_background {
    background-image: url('/images/background/wed-img.jpg');
    background-size: contain; /* Ensure the whole image fits within the background */
    background-attachment: scroll; /* Prevent fixed background issues on mobile */
  }
}

@media screen and (min-width: 1025px) {
  .invitation_background {
    background-image: url('/images/background/wed-img.jpg');
    background-size: 45%; /* Adjust to desired size */
    background-attachment: fixed;
  }
}

.agreement-input-container {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.agreement-input-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
span.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: transparent;
  border-radius: 50%;
  border: 2px solid #262534;
}

/* On mouse-over, add a grey background color */
.agreement-input-container:hover input ~ span.checkmark {
  background-color: transparent;
}

/* When the radio button is checked, add a blue background */
.agreement-input-container input:checked ~ span.checkmark {
  background-color: transparent;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
span.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.agreement-input-container input:checked ~ span.checkmark:after {
  display: inline;
}

/* Style the indicator (dot/circle) */
.agreement-input-container span.checkmark:after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #262534;
}

.locale-select-button.ReactFlagsSelect-module_selectBtn__19wW7 {
  background: rgb(249 250 251);
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.locale-select-menu .ReactFlagsSelect-module_selectOptions__3LNBJ {
  border: none;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

.before-spinner {
  color: black;
  z-index: 999;
  display: inline-block;
  width: 1.35rem;
  height: 1.35rem;
  vertical-align: text-bottom;
  border: 0.15rem solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}
